*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: url(stratosskyengweb-light.woff);
}

@font-face {
    font-family: StratosSkyengMedium;
    src: url(stratosskyengweb-medium.woff);
}
  

body {
    font-family: StratosSkyeng;
    background-color: #004980;
}

a { 
    text-decoration: none;
}

.app-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    margin-top: 158px;
    margin-bottom: 158px;
    background-color: #C2F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    padding: 50px;
    border-radius: 12px;
}

.title {
    text-align: center;
    color: #004980;
}

.complexity-radio-box {
    display: flex;
    gap: 25px;
}

.complexity-radio-box input[type="radio"] {
    display: none;
}

.complexity-radio-box label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    border: none;
    background-color: #FFFFFF;
    color: #0080C1;
    font-family: StratosSkyengMedium;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.complexity-radio-box input[type="radio"]:checked+label {
    box-sizing: border-box;
    border: 3px solid #7AC100;
}

.complexity-radio-box label:hover {
    box-sizing: border-box;
    border: 3px solid #7AC100;
}

.start-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7AC100;
    color: #FFFFFF;
    border: none;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.start-button:hover {
    box-sizing: border-box;
    border: 3px solid #0080C1;
}