* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: url("static/fonts/stratosskyengweb-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: StratosSkyeng, sans-serif;
    background-color: #004980;
    padding: 22px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.app-box {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 158px;
    margin-bottom: 158px;
    background-color: #c2f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    border-radius: 12px;
    max-width: 480px;
}

.title {
    text-align: center;
    color: #004980;
}

.complexity-radio-box {
    display: flex;
    gap: 26px;
    padding-top: 48px;
    padding-bottom: 67px;
}

.complexity-radio-box input[type="radio"] {
    display: none;
}

.complexity-radio-box label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 96px;
    height: 98px;
    border: none;
    background-color: #fff;
    font-family: StratosSkyeng, sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: var(--blue-100, #0080c1);
    font-style: normal;
}

.complexity-radio-box input[type="radio"]:checked + label {
    box-sizing: border-box;
    border: 3px solid #7ac100;
}

.button {
    width: 246px;
    height: 48px;
    border-radius: 12px;
    background-color: #7ac100;
    color: #fff;
    border: none;
    font-family: StratosSkyeng, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.button:hover {
    box-sizing: border-box;
    border: 3px solid #0080c1;
}

/* страница с картами */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.timer {
    display: flex;
    flex-direction: column;
}

.units {
    display: flex;
    justify-content: flex-start;
    gap: 58px;
    padding-left: 45px;
}

.unit-item {
    display: block;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.time {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    background: transparent;
    border: none;
}

.playing-field {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/* карта */

.back-of-card{
    background-image: url("static/image/back-of-a-card.jpg");
} 

.invisible{
    display: none;
}

.card {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #fff;
    width: 95px;
    height: 133px;
    flex-shrink: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    box-sizing: border-box;
    justify-content: center;
}

.rank-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-text {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.suit {
    display: flex;
    justify-content: center;
}

.rank {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.footer-rank {
    transform: rotate(180deg);
}

.finish {
    opacity: 0.9;
    background: #004980;
}

.finish-box{
    padding: 26px 112px 50px 112px;
}

.finish-header{
    color: var(--blue-120, #004980);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    padding: 9px 28px;
}

.time-text{
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.finish-time{
    color: #000;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}


